# All necessary tokens, passwords, etc.
# Your bluesky handle should include your instance, so for example handle.bsky.social if you are on the main one.
BSKY_HANDLE=
# Generate an app password in the settings on bluesky. DO NOT use your main password.
BSKY_PASSWORD=
BSKY_SESSION_STRING=
# Your mastodon handle. Not needed for authentication, but used for making "quote posts".
MASTODON_HANDLE=
# The mastodon instance your account is on.
MASTODON_INSTANCE=
MASTODON_TOKEN=
TWITTER_APP_KEY=
TWITTER_APP_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=
DISCORD_WEBHOOK_URL=
TUMBLR_CONSUMER_KEY=
TUMBLR_CONSUMER_SECRET=
TUMBLR_OAUTH_TOKEN=
TUMBLR_OAUTH_SECRET=
TUMBLR_BLOG_NAME=
TWITTER_CROSSPOSTING=FALSE
MASTODON_CROSSPOSTING=TRUE
DISCORD_CROSSPOSTING=TRUE
TUMBLR_CROSSPOSTING=TRUE
LOG_LEVEL=
MASTODON_VISIBILITY=
MENTIONS=
POST_DEFAULT=
MASTODON_LANG=
TWITTER_LANG=
QUOTE_POSTS=
MAX_RETRIES=
POST_TIME_LIMIT=
MAX_PER_HOUR=
OVERFLOW_POSTS=
INSTAGRAM_CROSSPOSTING=
